.accordion-button:not(.collapsed){
    background: white;

}

.accordion-button:hover{
    background: #ddd;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-body{
    background: #e1e1f7;
}

.accordion-body a{
    color: #1f1f1f;
}

.accordion-body a:hover{
    background-color: #bbbbed;
}